$primary-color: #47525e;
$font-stack: Cardo, 'Times New Roman', Times, serif;
$secondary-color: #f24c30;

.viewer-box {
  height: 700px;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  width: auto;
  overflow: auto;
}

span {
  color: #000000;
}

a {
  color: #e62e00;
}

li {
  list-style: none;
}
