$primary-color: #47525e;
$font-stack: Cardo, 'Times New Roman', Times, serif;
$secondary-color: #f24c30;

#volumeLinksContainer {
  border: 5px solid $primary-color;
  border-radius: 10px;
}

h2 {
  color: white;
  background-color: $primary-color;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px dotted $primary-color;
  background-color: white;
}

a {
  text-decoration: none;
}
