$primary-color: #47525e;
$font-stack: Cardo, 'Times New Roman', Times, serif;
$secondary-color: #f24c30;

#nav {
  background: none;
  font-size: 18px !important;
  font-weight: bold;
  max-width: 1440px;
  margin: 0;
}

#nav a {
  text-decoration: none;
}
