<div *ngIf="diary" class="container-fluid">

  <!-- Search and Go-To Folio Bars
  <div class="row justify-content-center">
    <div class="col-4 offset-7">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <!-- Search and Go-To Folio Bars END
  <br> -->

  <div class="row justify-content-center">
    <div class="col-12 offset-5">
      <div class="row">
        <h1> {{ diary.date }}: {{ diary.page[page-1].title }}</h1>
      </div>
    </div>
  </div>

  <!-- Search and Go-To Folio Bars
  <div class="row justify-content-center">
    <div class="col-4">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-2">
      <div class="input-group">
        <input type="text" class="form-control searchBar" placeholder="Go to Folio" aria-label="Search" (keyup.enter)="jumpToFolio(folioValue)" [(ngModel)]="folioValue">
        <div class="input-group-append">
          <a class="input-group-text searchButton" id="searchButton" style="text-decoration:none;" (click)="jumpToFolio(folioValue)">
            <i class="fa fa-lg fa-arrow-circle-right text-grey" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  Search and Go-To Folio Bars END -->
  <br>

  <!-- Pagination Bar for Folio Nums -->
  <div class="row justify-content-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">Cover</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 2)">Previous</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 2)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Back Cover</a>
      </li>
    </ul>
  </div>
  <!-- Pagination Bar for Folio Nums END -->

  <br>

  <!-- Viewer Boxes for Manuscript/Transcription -->
  <div class="row justify-content-center">

    <!-- LEFT PAGE -->
    <div *ngIf="router.url.match('[0-9]/[0-9]')">
      <div class="viewer-box-img">
        <lib-ngx-image-zoom [magnification]="1.5"[thumbImage]=diary.notebook_url+diary.page[page-1].image [fullImage]=diary.notebook_url+diary.page[page-1].image [zoomMode]="'click'" [enableLens]="true" [lensWidth]="250" [lensHeight]="250" [circularLens]="true">
        </lib-ngx-image-zoom>
      </div>
    </div>

    <!-- RIGHT PAGE -->
    <div *ngIf="router.url.match('[0-9]/[0-9]')">
      <div class="viewer-box-img-2">
        <lib-ngx-image-zoom [magnification]="1.5"[thumbImage]=diary.notebook_url+diary.page[page].image [fullImage]=diary.notebook_url+diary.page[page].image [zoomMode]="'click'" [enableLens]="true" [lensWidth]="250" [lensHeight]="250" [circularLens]="true">
        </lib-ngx-image-zoom>
      </div>
    </div>
  
    <div class="col-7 col-xl-5" *ngIf="router.url.includes('letters')">
      <!-- <div class="viewer-box-transcript">
        <div *ngIf="content" [innerHTML]="content" id="transcription"></div>
      </div> -->
    </div>
  </div>
  <!-- Viewer Boxes for Manuscript/Transcription END -->

  <br>

    <!-- Metadata -->
  <div class="row justify-content-center metadataRow">
    <div class="col-12 offset-5">
      <div class="row">
        <h1>Metadata:</h1>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Creator:</b> {{ diary.creator }}</div>
        <div class="p-2"><b>Year:</b> {{ diary.date }}</div>
        <!-- <div class="p-2"><b>Hand:</b> {{ diary.page[page-1].hand }}</div> -->
        <div class="p-2"><b>Diary Num:</b> {{ diary.diary_num }}</div>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Description:</b> {{ diary.description }}</div>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Extent:</b> {{ diary.extent }}</div>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Type:</b> {{ diary.type }}</div>
        <div class="p-2"><b>Language:</b> {{ diary.language }}</div>
        <div class="p-2"><b>Digitization Specifications:</b> {{ diary.digitization_specifications }}</div>
        <div class="p-2"><b>Format:</b> {{ diary.format }}</div>
      </div>
      <!-- <div class="row pl-4">
        <div class="p-2"><b>Folio Num:</b> {{ diary.page[page-1].folio_num }}</div>
        <div class="p-2"><b>Manuscript Num:</b> {{ diary.ms_num }}</div>
        <div class="p-2"><b>Transcription Status:</b> {{ transcriptionStatus }}</div>
        <div class="p-2"><b>Transcriber:</b> {{ diary.page[page-1].transcriber }}</div>
      </div> -->
      <div class="row pl-4">
        <div class="p-2"><b>Digital Collection:</b> {{ diary.digital_collection }}</div>
        <!-- <div class="p-2"><b>Contributing Institution:</b> {{ diary.contributing_institution }}</div> -->
        <!-- <div class="p-2"><b>Website:</b> {{ diary.website }}</div> -->
        <div class="p-2"><b>Rights information is available on the About Page</b></div>
      </div>
    </div>
  </div>
  <!-- Metadata END -->

  <br>

  <!-- Go To Folio Bar
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="input-group">
        <input type="text" class="form-control searchBar" placeholder="Go to Folio" aria-label="Search" (keyup.enter)="jumpToFolio(folioValue)" [(ngModel)]="folioValue">
        <div class="input-group-append">
          <a class="input-group-text searchButton" id="searchButton" style="text-decoration:none;" (click)="jumpToFolio(folioValue)">
            <i class="fa fa-lg fa-arrow-circle-right text-grey" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  Go To Folio Bar END -->

  <br>
</div>

<div *ngIf="letter" class="container-fluid">

  <!-- Search and Go-To Folio Bars
  <div class="row justify-content-center">
    <div class="col-4 offset-7">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <!-- Search and Go-To Folio Bars END
  <br> -->

  <div class="row justify-content-center">
    <div class="col-12 offset-5">
      <div class="row">
        <h1> {{ letter.docDate }}</h1>
      </div>
    </div>
  </div>

  <!-- Viewer Boxes for Manuscript/Transcription -->
  <div class="row justify-content-center">
    <div class="col-7 col-x3-10">
      <div>
        <a class="letter-navigation" *ngIf="hasPrevLetter" id="prev" (click)="setLetter(pager.currentPage - 1)">PREVIOUS</a>
        <a class="letter-navigation" *ngIf="hasNextLetter" id="next" (click)="setLetter(pager.currentPage + 1)">NEXT</a>
      </div>
      <div class="letter-box-transcript">
        <div [innerHTML]="content" id="transcription"></div>
      </div>
    </div>
  </div>
  <!-- Viewer Boxes for Manuscript/Transcription END -->

  <br>

    <!-- Metadata -->
  <div class="row justify-content-center">
    <div class="col-12 offset-5">
      <div class="row">
        <h1>Metadata:</h1>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>XML ID:</b> {{ letter.xml_id }}</div>
        <div class="p-2"><b>Date:</b> {{ letter.docDateString }}</div>
        <div class="p-2"><b>Sender:</b> {{ letter.sender }}</div>
        <div class="p-2"><b>Addressee:</b> {{ letter.addressee }}</div>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Source Note:</b><p [innerHTML]="letter.sourceNote"></p></div>
      </div>
      <div class="row pl-4">
        <div class="p-2"><b>Rights information is available on the About Page</b></div>
      </div>
    </div>
  </div>
  <!-- Metadata END -->
  <br>
</div>
