<div class="d-flex flex-row justify-content-start align-items-start m-auto p-4 w-100">
  <div class="d-flex flex-column justify-content-start align-items-center" id="imagesContainer">
    <img src="../assets/TempRSKLogo.png" alt="Image of John Ruskin" width="200" height="300">
    <img src="../assets/TempRSKLogo.png" alt="Image of John Ruskin" width="200" height="300">
  </div>
  <div class="d-flex flex-column justify-content-start" id="contentContainer">
    <p>In nineteenth-century Great Britain, John Ruskin (1819–1900) was a
      figure about whom no reader could have been ignorant: a public intellectual,
      in our terms, who had ideas about what buildings should look like, what Christianity
      should be, what paintings were valuable and not, what responsibility the state
      had to its citizens and what responsibilities citizens had to the state. He
      wrote about myths and about science, about the duties of the sexes, the limits of
      capitalism, the pleasures of dancing, the meaning of the Alps, the sorrowful
      testimony of Venice. He tried to transform the heart of Great Britain. And he also sold tea. </p>
    <p>The private thoughts and ideas of this huge figure of nineteenth-century Great Britain are also available:
      Ruskin kept a diary journal through most of his working life, which is here reproduced for the first time. </p>
    <p>In addition, this site includes a collection of Ruskin’s letters to Thomas and Jane Welsh Carlyle.
      The friendship of Thomas Carlyle and Ruskin had an enormous influence on both of these brilliant
      Victorian thinkers. Starting in about 1847, their friendship was a constant and deepening connection
      throughout the rest of their lives; their mutual admiration had an emotional aspect that brought a
      special level of understanding and sympathy to the relationship, even as it changed over time.
      Toward the end of Carlyle's life, Ruskin regarded him as a father figure, beginning his letters
      with the salutation "My dearest Papa."  Indeed, it has been argued that, although their
      friendship was sometimes tested by the strength of their differing opinions, it is through
      Carlyle that we can best understand the nuances of Ruskin's personality, and vice versa. To
      read the other side of this fascinating correspondence, see the <a href="carlyleletters.dukeupress.edu">Carlyle Letters Online</a>. </p>
  </div>
  <div class="d-flex flex-column justify-content-start align-items-center" id="imagesContainer">
    <img src="../assets/TempRSKLogo.png" alt="Image of John Ruskin" width="200" height="300">
    <img src="../assets/TempRSKLogo.png" alt="Image of John Ruskin" width="200" height="300">
  </div>
</div>

<!-- COPYRIGHT MODAL -->
<div class="modal fade" id="copyrightModal" tabindex="-1" role="dialog" aria-labelledby="copyrightLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="copyrightLabel"><strong>DO YOU AGREE?</strong></h5>
      </div>
      <div class="modal-body">
        <span>
          Continuing to use this resource registers your agreement to recognize and abide by the acknowledgements and permissions restrictions described in the 'About' section of the site. Please ensure you have read and are familiar with them.
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="agree()">AGREE</button>
      </div>
    </div>
  </div>
</div>
