/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';

$primary-color: #47525e;
$font-stack: Cardo, 'Futura', Times, serif;
$secondary-color: #f24c30;

html, body {
  height: 100% !important;
}

// ::-webkit-scrollbar {
//   display: none;
// }

/*
=================================================
Body Styles
=================================================
*/

body {
  font-family: $font-stack !important;
  font-size: 16px !important;
  color: $primary-color;
  background-image: url('/assets/WebBackground.jpg');
  background-color: #ebdac2;
  background-repeat: repeat;
  background-position: 50%;
}

body > a {
  text-decoration: none;
  cursor: pointer;
}

/*
=================================================
Basic Styles
=================================================
*/

a:link, a:visited {
  color: #47525e !important;
}

a:hover, a:active, a:focus {
  color: #f24c30 !important;
}

.searchBar, .searchButton {
  border: 1px solid $primary-color;
  border-radius: 5px;
  font-size: 12px !important;
}
