$primary-color: rgb(32, 85, 190);
$font-stack: Cardo, 'Times New Roman', Times, serif;

li {
  width: 100%;
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px dotted $primary-color;
  background-color: white;
}

a {
  text-decoration: none;
}
