<div class="d-flex flex-column justify-content-start align-items-start w-100" *ngIf="letters" id="letterLinksContainer">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a style="color: rgb(32, 85, 190);">Letters from the 1850s</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let y of fifties[0]">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a style="color: rgb(32, 85, 190);">{{ y }}</a>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <li *ngFor="let l of fifties[1][fifties[0].indexOf(y)]">
              <a id={{l._id}} routerLink="/page-view/letters/{{ l._id }}" routerLinkActive="active" >{{ l.docDateString }}</a>
            </li>
          </mat-expansion-panel>
        </li>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a style="color: rgb(32, 85, 190);">Letters from the 1860s</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let y of sixties[0]">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a style="color: rgb(32, 85, 190);">{{ y }}</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <li *ngFor="let l of sixties[1][sixties[0].indexOf(y)]">
              <a id={{l._id}} routerLink="/page-view/letters/{{ l._id }}" routerLinkActive="active" >{{ l.docDateString }}</a>
            </li>
          </mat-expansion-panel>
        </li>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a style="color: rgb(32, 85, 190);">Letters from the 1870s</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let y of seventies[0]">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a style="color: rgb(32, 85, 190);">{{ y }}</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <li *ngFor="let l of seventies[1][seventies[0].indexOf(y)]">
              <a id={{l._id}} routerLink="/page-view/letters/{{ l._id }}" routerLinkActive="active" >{{ l.docDateString }}</a>
            </li>
          </mat-expansion-panel>
        </li>
      </mat-expansion-panel>
    </mat-accordion>
</div>
