<!--About page for John Ruskin -->
<div class="container">
  <button class="accordion">About the Project</button>
  <div class="panel">
    <br>
    <p id="aboutPara">
        Thanks to our VLLC partners at the University of Leeds, Lancaster University, the Ruskin Library and Research Centre, and our colleagues at the University of South Carolina Department of Digital Collections, seven previously unpublished Ruskin Diary Notebooks held at the Ruskin Centre are now accessible online at http://digital.tcl.sc.edu/cdm/search/collection/vllc
    </p>
    <br>
    <hr>

    <h4>Acknowledgment and Permissions:</h4>
    <br>
    <p>
      All use of this site must be acknowledged in your citations.  Add the following text to the end of your standard reference note and/or bibliographical entry: &quot;Accessed via The John Ruskin Diaries Online Edition [URL here]&quot;
    </p>

    <p>
      Copyright of the diaries is held by the John Ruskin estate (Leonie Sturge-Moore and Charmian O&#39;Neil).  The diaries are reproduced with kind permission of the John Ruskin estate. The diaries have been digitized by the British Library in partnership with New York University, and the images are made online with permission of the Library.
    </p>

    <p>
      No permission is given for reproduction of these images outside of this site, and permission for use of the images (academic or otherwise) must be sought from the copyright holders.
    </p>

    <p>
      Contributors of scholarly materials retain any relevant copyrights on material they contribute to the archive, but allow VLLC to use and display this work.
    </p>
    <br>
    <hr>

    

   
  </div>

  <button class="accordion">About John Ruskin</button>
  <div class="panel">
    <br>
    <p>
        In nineteenth-century Great Britain, John Ruskin (1819-1900) was a figure about whom no reader could have been ignorant: 
        a public intellectual, in our terms, who had ideas about what buildings should 
        look like, what Christianity should be, what paintings were valuable and not, 
        what responsibility the state had to its citizens and 
        what responsibilities citizens had to the state. He wrote about myths and about science, 
        about the duties of the sexes, the limits of capitalism, the pleasures of dancing, the meaning 
        of the Alps, the sorrowful testimony of Venice. He tried to transform the heart of Great Britain. 
        And he also sold tea. The private thoughts and ideas of this huge figure of nineteenth-century 
        Great Britain are also available. Ruskin kept a diary journal through most of his working life. 
        And it has never been published in full in any open access, color, and high quality form.
    </p>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Project Team</button>
  <div class="panel">
    <br>
    
    <h4><b>***UNDER CONSTRUCTION***</b></h4>
    <br>
    <hr>

    <p>Thanks to our VLLC partners at the University of Leeds, Lancaster University, the Ruskin Ruskin Library and Research Centre, our colleagues at the University of South Carolina Department of Digital Collections and the leadership of the project lead, Dr. Francis O'Gorman, seven previously unpublished Ruskin Diary Notebooks held at the Ruskin Centre have been digitized. They are displayed on this digital archive through the work of VLLC's Student Project Team at the University's South Carolina's Center for Digital Humanities. The current technical team includes Tyron Schultz, Ian Macdowell, Caleb Kitzmann, Prithvi Tippabhalta and Morgan Lundy, and are directed by the project's technical lead, Dr. Colin Wilder.</p>
    <br>
    <hr>

    <h4>Editorial Board</h4>
    <br>
    <ul>
    <li>Francis O’Gorman (University of Edinburgh; chair of John Ruskin Diaries Board)</li>
    <li>Sara Atwood (Guild of St. George, U.S.A.)</li>
    <li>Dinah Birch (University of Liverpool, U.K.)</li>
    <li>Rachel Dickinson (Manchester Metropolitan University, U.K.)</li>
    <li>David Hanson (Southeastern Louisiana University, U.S.A.)</li>
    <li>Robert Hewison (Ruskin Research Centre and Library, University of Lancaster)</li>
    <li>Bernard Richards (Oxford University, U.K.)</li>
    <li>Marcus Waithe (University of Cambridge, U.K.)</li>
    <li>Stephen Wildman (University of Lancaster, U.K.)</li>
    </ul>
    <br>
    <hr>

    <h4>Technical Team</h4>
    <br>
    <ul>
    <li>Pierce Matthews</li>
    <li>Tyler Moon</li>
    <li>Lawton Mizell</li>
    <li>Jerrod Mathis</li>
    <li>Caleb Kitzmann</li>
    <li>Samyuktha Comandur</li>
    <li>Ian McDowell</li>
    <li>Tyron Schultz</li>
    </ul>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Technical Specifications</button>
  <div class="panel">
    <br>
    <p>Under Construction</p>
    <hr>
    <br>
  </div>
</div>
