<!--About page for John Ruskin -->
<div class="container">

  <button class="accordion">About the Project</button>
  <div class="panel">
    <br>
    <p id="aboutPara">
        This website was developed by the Center for Digital Humanities at the University of South Carolina, Columbia, and is published, as a prototype for the Victorian Lives & Letters Consortium (VLLC), by Duke University Press.
    </p>

    <p>
      Thanks to our VLLC partners at the University of Leeds; The Ruskin – Library, Museum and Research Centre, Lancaster University; and our colleagues at the University of South Carolina Department of Digital Collections, seven previously unpublished Ruskin Diary Notebooks held at the Ruskin Centre are now accessible online here and also at <a href="http://digital.tcl.sc.edu/cdm/search/collection/vllc">http://digital.tcl.sc.edu/cdm/search/collection/vllc</a>
    </p>

    <br>
    <hr>
  </div>

  <button class="accordion">About John Ruskin</button>
  <div class="panel">
    <br>
    <p>
        John Ruskin was born into a wealthy trade family; the money was made from selling sherry to the great houses of Great Britain.
        He was not sent to a public school—Eton, Harrow, Charterhouse, for example—but largely educated at home through private tutors.
        He proceeded as a Gentleman Commoner to Christ Church Oxford where he read for a degree in the then customary mixture of Classics and mathematics.
        He began publishing on architecture very early in his life—<i>The Poetry of Architecture</i> (1837), for instance—but first made his mark with the initial volume of
        <i>Modern Painters</i> (1843), a magnificent defense of J. M. W. Turner. There would be five volumes, ending in 1860, overall.
    </p>
    <p>
      Ruskin wrote prolifically throughout his long career. His most notable achievements included <i>The Stones of Venice</i> (1851–3), <i>Unto this Last</i> (1860), and the feisty political letters,
      <i>Fors Clavigera</i> (1871–84). His correspondence was voluminous, and he lectured, taught, and wrote with a seemingly boundless energy.
      He lost his Evangelical faith at the end of the 1850s—his brief marriage to Effie Gray had ended earlier—and the 1860s were characterized by exploratory
      writing and thinking, in new genres and on new topics. He returned to a more syncretic, non-doctrinaire Christianity in the middle of the 1870s. In 1869,
      Ruskin was appointed as the first Slade Professor of Fine Art at the University of Oxford, though he quickly became disenchanted with the aspirations of
      the undergraduates. His books in this later period included work on Florence, Greek myth, engraving, Amiens, and a new book on the history of Venice.
    </p>
    <p>
      Mental illness dogged Ruskin’s last creative years and, well into his autobiography <i>Praeterita</i> (1885–9), he suffered a serious breakdown from which he did not recover.
      His last decade was spent more or less in silence at Brantwood, his Lake District home at Coniston.
    </p>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Project Team</button>
  <div class="panel">
    <br>

    <p>
      Thanks to our VLLC partners at the University of Leeds; The Ruskin – Library, Museum and Research Centre, Lancaster University;
      our colleagues at the University of South Carolina Department of Digital Collections; and the leadership of Dr. Francis O'Gorman at the University of
      Edinburgh, seven previously unpublished Ruskin Diary Notebooks held at The Ruskin have been digitized.  Chris Catanese tagged the transcribed letters
      to Carlyle in TEI XML and devised the metadata schema, and Sylvia K. Miller served as the project lead and Principal Investigator for the Delmas
      Foundation grant at Duke University Press.
    </p>
    <br>
    <hr>

    <h4>Editorial Board</h4>
    <br>
    <p>
      The following members of the <a href="https://vllc.wordpress.cdhsc.org/">Victorian Lives and Letters Consortium (VLLC)</a> Board of Directors advised on this project:
      Brent Kinser, Western Carolina University; Francis O’Gorman, University of Edinburgh; David Sorensen, St. Joseph’s University; and
      Colin Wilder, University of South Carolina, Columbia.
    </p>
    <br>
    <hr>

    <h4>Technical Team</h4>
    <br>
    <p>
      The John Ruskin Archive was created by a student project team at the Center for Digital Humanities at the University of South Carolina (<a href="https://sc.edu/about/centers/digital_humanities/">https://sc.edu/about/centers/digital_humanities/</a>).
      Initial development was done by Tyron Schultz, Ian McDowell, Caleb Kitzmann, and Prithvi Tippabhatla in 2018.
      They have subsequently been joined by Stella Masucci and Mitchell Lambert. The project has been supported by systems administration and development operations
      team members Joshua Nelson, Zach Stump, and Dan Rochester. This and other projects of the Victorian Lives and Letters Consortium (<a href="https://vllc.wordpress.cdhsc.org/">https://vllc.wordpress.cdhsc.org/</a>)
      have been managed in the past four years by Morgan Lundy and now Helen B. Kampmann Marodin. Prof. Dr. Colin Wilder is the project director at USC and technical lead of the VLLC.
    </p>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Technical Specifications</button>
  <div class="panel">
    <br>
    <p>This site is under construction using the MEAN stack (Mongo Database, Express.js, Angular.js, Node.js) and started as a clone of the Diaries of Michael Field in late summer of 2019 by Developers Ian Mcdowell and Tyron Schultz.
    </p>
    <hr>
    <br>
  </div>

  <button class="accordion">Acknowledgments and Permissions</button>
  <div class="panel">
    <br>
    <p>
        We are grateful to the Gladys Krieble Delmas Foundation for a grant in support of this work.
    </p>
    <p>
        All use of this site must be acknowledged in your citations. Add the following text to the end of
        your standard reference note and/or bibliographical entry: "Accessed via The Ruskin Digital Archive [URL here]" Please see below for additional information on citing the letters to Carlyle.
    </p>
    <p>
        Copyright of the diaries is held by the John Ruskin estate (Leonie Sturge-Moore and Charmian O'Neil). The diaries are reproduced with kind
        permission of the John Ruskin estate. The diaries have been digitized by the British Library in partnership with New York University,
        and the images are shared online with permission of the Library.
    </p>
    <p>
        No permission is given for reproduction of these diary images outside of this site, and permission for use of the images
        (academic or otherwise) must be sought from the copyright holders. Contributors of scholarly materials retain any relevant copyrights to material they contribute to the archive,
        but allow VLLC to use and display this work.
    </p>
    <p>
        It is our understanding that all of the letters included in this site are in the public domain. However, as a courtesy we would like to acknowledge the
        following archives that are cited in brief form in the source notes accompanying the letters:  The National Library of Scotland;
        the Yale University Library, including the Frederick W. Hilles Manuscript Collection; Lancaster University, home of the John Howard
        Whitehouse Collection from the Bembridge School; the Victoria and Albert Museum; the Carlyle House, which is part of the National Historic
        Trust, UK; the Henry W. and Albert A. Berg Collection of English and American Literature at the New York Public Library; and the Alexander
        Turnbull Library, Wellington, New Zealand.
    </p>
    <p>
        We have written to all of these institutions to notify them about the development of this project, and we welcome updates, corrections,
        or questions (contact sylvia dot miller at duke dot edu).  For citation purposes, please see the updated credit information that we
        received as we built the first iteration of this site; it is listed below and will be incorporated with the Ruskin letters as soon as possible.
    </p>
    <p>
        We have relied upon George Allen Cate, ed. <i>The Correspondence of Thomas Carlyle and John Ruskin</i> (Stanford University Press, 1982, o.p.)
        for the transcriptions of Ruskin’s letters to the Carlyles included in this site as of November 2020; however, the transcriptions were
        retyped for this site, and we take responsibility for any typographical errors.
    </p>
    <p>
        In future iterations of this site, we hope to include annotations, more letters of Ruskin, and a seamless integration of Ruskin’s letters with the
        Carlyles’ letters to ease reading of the correspondence in chronological order, among other planned features.
    </p>
    <p>
        --Duke University Press and the Victorian Lives & Letters Consortium
    </p>
    <p>
        For citation purposes, please note the following corrections/updates to the source notes accompanying the Ruskin letters:
    </p>
    <p>
        The Bembridge School collection is now owned by and housed at Lancaster University.  The preferred citation language is as follows:
        The Ruskin – Library, Museum and Research Centre, Lancaster University.
    </p>
    <p>
        The Hilles estate letter is now at Yale University.
    </p>
    <p>
      The New York Public Library’s preferred citation language for the Berg Collection is as follows: <br><br>
      [Author], [Identification of the item], [Collection title, if relevant], The Henry W. and Albert A. Berg Collection of English and American Literature, The New York Public Library, Astor, Lenox and Tilden Foundations.
    </p>
    <br>
  </div>

</div>
