/* Formatting for the About Page for John Ruskin */
h1 {
  color: #e62e00;
}

h4 {
  font-weight: bold;
  color: #000000;
}

hr {
  border-color: white;
}

ul {
  list-style-type: none;
}

.accordion {
  background-color: rgb(51, 77, 130);
  color: white;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.4s;
  font-size: 17px;
}

.accordion:after {
  content: 'View More';
  color: white;
  float: right;
  margin-left: 5px;
}

.active, .accordion:hover {
  background-color: rgb(51, 77, 130);
  color: white;
}

.active:after {
  content: "View Less";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  font-size: 15px;
}
