<!--About page for John Ruskin -->
<div class="container">
  <button class="accordion">About the Project</button>
  <div class="panel">
    <br>
    <p id="aboutPara">
        Thanks to our VLLC partners at the University of Leeds, Lancaster University, the Ruskin Ruskin Library and Research Centre, and our colleagues at the University of South Carolina Department of Digital Collections, seven previously unpublished Ruskin Diary Notebooks held at the Ruskin Centre are now accessible online at http://digital.tcl.sc.edu/cdm/search/collection/vllc
    </p>
    <br>
    <hr>

    <h4>Acknowledgment and Permissions:</h4>
    <br>
    <p>
      All use of this site must be acknowledged in your citations.  Add the following text to the end of your standard reference note and/or bibliographical entry: &quot;Accessed via The John Ruskin Diaries Online Edition [URL here]&quot;
    </p>

    <p>
      Copyright of the diaries is held by the John Ruskin estate (Leonie Sturge-Moore and Charmian O&#39;Neil).  The diaries are reproduced with kind permission of the John Ruskin estate. The diaries have been digitized by the British Library in partnership with New York University, and the images are made online with permission of the Library.
    </p>

    <p>
      No permission is given for reproduction of these images outside of this site, and permission for use of the images (academic or otherwise) must be sought from the copyright holders.
    </p>

    <p>
      Contributors of scholarly materials retain any relevant copyrights on material they contribute to the archive, but allow VLLC to use and display this work.
    </p>
    <br>
    <hr>

    <h4>Transcription Status:</h4>
    <br>
    <p>
      The ‘transcription status’ bar featured on every page indicates the level of editorial review the transcription and editorial notes have received.
    </p>
    <p>* checked by the volume lead only</p>
    <p>** checked by a member of the editorial board</p>
    <p>*** complete</p>
    <hr>

    <h4>Transcription Conventions:</h4>
    <br>
    <p>
      [E.C.] and [K.B.] are used at the head of the passage to indicate whether the passage is in the hand of Edith Cooper or Katharine Bradley. [T.S.M.] indicates the hand of Thomas Sturge Moore, the women’s literary executor and the first editor of the diaries.
    </p>

    <p>Illegible Words:  [????]</p>

    <p>
      Words about which the transcriber is unsure, so I think this word might be testimony: [testimony?]
    </p>

    <p>
      [&lt;] and [&gt;] surround text added or inserted to an existing line by the authors
    </p>
    <br>
    <hr>
  </div>

  <button class="accordion">About John Ruskin</button>
  <div class="panel">
    <br>
    <p>
        In nineteenth-century Great Britain, John Ruskin (1819-1900) was a figure about whom no reader could have been ignorant: 
        a public intellectual, in our terms, who had ideas about what buildings should 
        look like, what Christianity should be, what paintings were valuable and not, 
        what responsibility the state had to its citizens and 
        what responsibilities citizens had to the state. He wrote about myths and about science, 
        about the duties of the sexes, the limits of capitalism, the pleasures of dancing, the meaning 
        of the Alps, the sorrowful testimony of Venice. He tried to transform the heart of Great Britain. 
        And he also sold tea. The private thoughts and ideas of this huge figure of nineteenth-century 
        Great Britain are also available. Ruskin kept a diary journal through most of his working life. 
        And it has never been published in full in any open access, color, and high quality form.
    </p>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Project Team</button>
  <div class="panel">
    <br>
    <h4><b>***UNDER CONSTRUCTION***</b></h4>
    <br>
    <hr>

    <h4>Major Funders</h4>
    <br>
    <p>
      The scanning of the complete diaries of John Ruskin has been made possible by New York University and the British Library. The platform is hosted, built and digitally served by the Center for Digital Humanities at the University of South Carolina. Other partners are contributing grants to fund transcription work and they will be acknowledged here as the relevant transcription is added.
    </p>
    <br>
    <hr>

    <h4>Leadership</h4>
    <br>
    <p>
      Marion Thain (King's College London): direction, design, co-ordination, chair of the editorial board, fund-raising, Co-I (with Prof. Francis O’Gorman) on a Digital Humanities ‘Research Networking’ grant from the Arts and Humanities Research Council (U.K.) that helped launch this project, development of text-encoding strategies and tag set.
    </p>
    <p>
      Colin F. Wilder (University of South Carolina): technical design, lead and co-ordination of the technical team, oversight of the platform build, and fund-raising.
    </p>
    <p>
      Peter Logan and Temple University Digital Scholarship Center: co-lead XML/TEI
    </p>
    <p>
      Holly A. Laird (University of Tulsa): co-lead transcription
    </p>
    <p>
      [Ana Parejo Vadillo (Birkbeck College, University of London): perhaps to take on leadership for transcription and encoding of volumes 1-14?]
    </p>
    <br>
    <hr>

    <h4>Volume Leads for Transcription and Editorial Work</h4>
    <br>
    <p>
      Volume 18 (1904): (first half) Pearl Chaozon Bauer (Notre Dame de Namur)
    </p>
    <p>
      Volume 23 (1908): Holly A. Laird (University of Tulsa)
    </p>
    <br>
    <hr>

    <h4>Editorial Peer Review Board</h4>
    <br>
    <ul>
    <li>Marion Thain (King's College London; lead for the John Ruskin archive)</li>
    <li>Ana Parejo Vadillo (Birkbeck College, University of London, U.K.)</li>
    <li>Sharon Bickle (University of Southern Queensland, Australia)</li>
    <li>Kirsty Bunting (Manchester Metropolitan University, U.K.)</li>
    <li>Stefano Evangelista (Trinity College, University of Oxford, U.K.)</li>
    <li>Regenia Gagnier (University of Exeter, U.K.)</li>
    <li>Emily Harrington (University of Colorado, Boulder, U.S.A.)</li>
    <li>Holly A. Laird (University of Tulsa, U.S.A.)</li>
    <li>Catherine Maxwell (Queen Mary, University of London, U.K.)</li>
    <li>Sarah Parker (University of Stirling, U.K.)</li>
    <li>Joanne Shattock (University of Leicester, U.K.)</li>
    <li>Martha Vicinus (University of Michigan, U.S.A.)</li>
    </ul>
    <br>
    <hr>

    <h4>Student Interns</h4>
    <br>
    <p>
      Cherrie Kwok -- worked with Marion Thain on the early stages of experimenting with text-encoding practices; her work was funded by a Brine Digital Humanities Scholarship at NYU in summer 2016.
    </p>
    <p>
      Internships for the transcription will be listed under the name of the volume lead in the section above.
    </p>
    <br>
    <hr>

    <h4>Technical Team</h4>
    <br>
    <ul>
    <li>Pierce Matthews</li>
    <li>Tyler Moon</li>
    <li>Lawton Mizell</li>
    <li>Jerrod Mathis</li>
    <li>Caleb Kitzmann</li>
    <li>Samyuktha Comandur</li>
    <li>Ian McDowell</li>
    <li>Tyron Schultz</li>
    </ul>
    <br>
    <hr>
  </div>

  <button class="accordion">About the Technical Specifications</button>
  <div class="panel">
    <br>
    <p>Under Construction</p>
    <hr>
    <br>
  </div>
</div>
