<!DOCTYPE html>
<!--Resources page for John Ruskin -->

<div class="container">
  

  <header>
    <h1> Related Resources </h1>
    <p> There are many opportunities online and in person to research John Ruskin and his contemporaries and participate in related events and activities. The following are some suggestions.</p>
  </header>




  <body>
   

	<p class="related-resources">
	  
	  <a 
	  href="https://carlyleletters.dukeupress.edu"
	  target="_blank">
	  <b><i>The Carlyle Letters Online</i></b></a>
	  is a freely available online publication that includes the nearly complete annotated letters of Thomas and Jane Carlyle as well as the extensive Carlyle family photograph albums. Here you will find the other side of the decades-long correspondence with John Ruskin that is featured here in the <i>Ruskin Digital Archive</i>.
	</p>


	<p class="related-resources">
	  
	  <a
	  href="https://www.guildofstgeorge.org.uk/whats-on"
	  target="_blank">
	  <b>The Guild of St. George</b>
	  </a> has its roots in an organization started by John Ruskin that he hoped would encourage social improvement through focus on art education, craft work, and the rural economy. Today, the Guild aims to work in the spirit of Ruskin's vision, promoting his values and ideas in the present day.
	
	</p>
	

	<p class="related-resources">

	  <a href="http://theruskinsociety.com/"
	  target="_blank">
	  <b>The Ruskin Society celebrates</b>
	  </a> celebrates Ruskin's life, work, and legacy.

	</p> 


	<p class="related-resources">
	  
	  <a 
	  href="https://www.ruskinsocietyna.org/"
	  target="_blank">
	  <b>The Ruskin Society of North America</b>
	  </a> is committed to teaching and practicing Ruskin's principles for making the world a more humane and happier place by supporting projects in education, the environment, and the arts.
	  
	</p> 


	<p class="related-resources">

	  <a
	  href="https://www.britannica.com/biography/John-Ruskin"
	  target="_blank">
	  <b>"John Ruskin: English Writer and Artist" in the online <i>Encyclopedia Brittanic</i></b>
	  </a> is a judicious overview of Ruskin's life and significance by Nichola Shrimpton (University of Oxford) and includes a helpful list of recommended readings.

	</p>

	<p class="related-resources">

	  <a
	  href="https//www.lancaster.ac.uk/the-ruskin/research/#d.en.454474"
	  target="_blank">
	  <b>The Ruskin - Library, Museum and Research Centre</b>
	  </a> is home to the leading collection of Ruskin materials, including the 29 volumes of Ruskin's diaries, a selection of which appear here in the <i>Ruskin Digital Archive</i>. The library has made the complete works of John Ruskin available for download 
	  <a 
	  href="https://www.lancaster.ac.uk/the-ruskin/the-complete-works-of-ruskin/"
	  target="_blank">
	  here
	  </a>.

    </p>

  
    <p class="related-resources">

	  <a
	  href="http://www.brantwood.org.uk/about-brantwood/"
	  target="_blank">
	  <b>The Brantwood Estate</b>
	  </a> offers insight into the world of Ruskin and the last 28 years of his life spent at Coniston. Set on 250 acres in the Lake District, the house is filled with many fine paintings, beautiful furniture and Ruskin's personal treasures.

    </p>

  
    <p class="related-resources">

    <a
	href="https://vllc.wordpress.cdhsc.org/"
	target="_blank">
	<b>The Victorian Lives & Letters Consortium</b>
	</a> is a group of scholars, teachers, programmers, librarians, students, and enthusiasts devoted to creating interactive digital archives of Victorian-era life writing. In addition to this <i>Ruskin Digital Archive</i> and the <i>Carlyle Letters Online</i>, the consortium is currently developing online collections focused on Michael Field and W.E. Gladstone.

    </p>


  </body>
</div>
